.contenedorTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-text {
  margin: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  box-shadow: 1rem 1rem 1rem;
  margin-top: 3rem;
}

@media (max-width: 320px) {
  .card {
    width: 15rem;
  }
}
