.contenedorLanding {
  background-image: url("../assets/DQum78SUMAIqYzS.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: auto;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorLanding img {
  height: 9rem;
  width: auto;
  padding-bottom: 1rem;
}

@media (max-width: 375px) {
  .contenedorLanding img {
    height: 7rem;
  }
}
